@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NeueMontreal';
    src: url('/fonts/NeueMontreal-Bold.otf') format('opentype'); /* Adjust the path as necessary */
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'NeueMontreal';
    src: url('/fonts/NeueMontreal-Medium.otf') format('opentype'); /* Adjust the path as necessary */
    font-weight: medium;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'NeueMontreal';
    src: url('/fonts/NeueMontreal-Regular.otf') format('opentype'); /* Adjust the path as necessary */
    font-weight: light;
    font-style: normal;
  }
